#container {
    max-width: 1200px;
    margin: 0 auto;
    background: url("https://st.depositphotos.com/1793489/1388/v/950/depositphotos_13880642-stock-illustration-cartoon-icons-of-animals-food.jpg");
}